/*#region page*/
* {
    margin: 0;
}
body {
    background-color: #FFEEFC;
    font-family: 'Roboto', sans-serif;
}
/*#endregion*/
/*#region header*/
.header {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.header__title {
    margin: 10px 20px;
}

.header__logo {
    width: 320px;
}
/*#endregion*/
/*#region main*/
.main {
    display: grid;
    padding: 10px;
    max-width: 390px;
    margin: auto;
}

.main__title {
    margin: auto;
    max-width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #141212;
    grid-column: 1 / -1 ;
}
/*#endregion*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
/*#region shop*/
.shop-list {
    list-style-type: none;
    padding: 0;
}

.shop-list__shop {
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

.shop__gallery {
    display: grid;
}
/*#endregion*/
/*#region gallery*/

.gallery__bigImg {
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.gallery__container {
    display: flex;
}

.gallery__smallImg  {
    width: 50px;
    margin-inline: 1px;
    object-fit: cover;
    border-radius: 3px;
}
/*#endregion*/
/*#region shop*/
.shop__description {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 400;
    gap: 5px;
}

.shop__description :first-child {
    font-size: 13px;
    font-weight: 600;
}

.inframe {
    width: 140px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 5px;
}

.price-wrapper {
    justify-content: space-around;
    margin-bottom: 10px;
}

.price-comment {
    font-size: 8px;
    font-style: italic;
}
/*#endregion*/

footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .main__title {
        font-size: 1.8em;
    }
    .main {
        max-width: 768px;
    }
    .gallery__bigImg {
        max-width: 300px;
        height:  400px;
    }
    .gallery__smallImg  {
        width: 99px;
        margin-inline: 1px;
        border-radius: 3px;
    }
    .shop__description {
        font-size: 22px;
        gap: 15px;
    }
    .shop__description :first-child {
        font-size: 26px;
    }
    .container-shop-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .conteiner-inframe {
        display: flex;
        justify-content: flex-end;

    }
    .price-comment {
        font-size: 13px;
    }
    .inframe {
        width: 100%;
        height: 250px;
    }
}
